<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648025098725-mu2hp0n3qfad347enotgnntuqasb8dup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648025098725-mu2hp0n3qfad347enotgnntuqasb8dup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648025098725-0uuv57iirm8983lbf5c2prb0jaut207l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCo-Chi-wIEiFMwbGwk8SzHP3EJU-mXFR8</string>
	<key>GCM_SENDER_ID</key>
	<string>648025098725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.beerm</string>
	<key>PROJECT_ID</key>
	<string>beerm-7efae</string>
	<key>STORAGE_BUCKET</key>
	<string>beerm-7efae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648025098725:ios:6d94379d98644fd365870c</string>
</dict>
</plist>